node-red-dashboard.json
[{"id":"7b0cab35.5b389c","type":"http request","z":"6b38f2f7.8ab254","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://192.168.1.114:8020/status/","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":160,"wires":[["f89bf0d5.a333d"]]},{"id":"c1bd0c2e.fd3158","type":"debug","z":"6b38f2f7.8ab254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1830,"y":160,"wires":[]},{"id":"adff66b8.75df68","type":"ui_gauge","z":"6b38f2f7.8ab254","name":"","group":"e339a6f7.1d2fa","order":5,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#008080","#008080","#008080"],"seg1":"","seg2":"","x":1810,"y":100,"wires":[]},{"id":"f89bf0d5.a333d","type":"function","z":"6b38f2f7.8ab254","name":"parse status","func":"msg.topic = msg.payload.tag;\nvar processed = parseFloat(msg.payload.progress.processed);\nvar total = parseFloat(msg.payload.progress.total);\n\nmsg.payload = parseInt(100*processed/total)\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":160,"wires":[["c1bd0c2e.fd3158","adff66b8.75df68"]]},{"id":"e339a6f7.1d2fa","type":"ui_group","z":"","name":"BorgBackup","tab":"f2884997.da892","order":4,"disp":true,"width":"6","collapse":false},{"id":"f2884997.da892","type":"ui_tab","z":"","name":"System","icon":"computer"}]